n8n/soc_automation_workflow.json
{
  "name": "SOC Automation Lab",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e082d4f7-8934-4bc9-b1ef-eb82b20012e8",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "64c7990e-606e-41c4-9b18-589886b9da00",
      "name": "Webhook",
      "webhookId": "e082d4f7-8934-4bc9-b1ef-eb82b20012e8"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0A90CW43EY",
          "mode": "list",
          "cachedResultName": "alerts"
        },
        "text": "={{ $json.output[0].content[0].text }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        576,
        0
      ],
      "id": "f69d97a8-3d3d-456f-9489-ed99002cb6e8",
      "name": "Send a message",
      "webhookId": "91fc7e2b-077c-4cd7-9400-89ce356d22c1",
      "credentials": {
        "slackApi": {
          "id": "HQTa6uZx4J8B14eJ",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "Act as a Tier 1 SOC analyst assistant. When provided with a security alert or incident details (including indicators of compromise, logs, or metadata), perform the following steps:\n\nSummarize the alert - Provide a clear summary of what triggered the alert, which systems/users are affected, and the nature of the activity (e.g., suspicious login, malware detection, lateral movement).\n\nEnrich with a threat intelligence - Correlate any IOCs (IP addresses, domains, hashes) with known threat intel sources. For any IP enrichment, use the tool named 'AbuseIPDB-Enrichment'. Highlight if the indicators are associated with known malware or threat actors.\n\nAssess severity - Based on MITRE ATT&CK mapping, identify tactics/techniques, and provide and initial severity rating (Low, Medium, High, Critical)\n\nRecommend next actions - Suggest investigation steps and potential containment actions.\n\nFormat output clearly - Return findings in a structured format (Summary, IOC Enrichment, Severity Assessment, Recommended Actions)."
            },
            {
              "content": "=Alert:  {{ $json.body.search_name }}\nAlert Details: {{ JSON.stringify($json.body.result,['_time','user','ComputerName'],2)}}\nSource IP: 92.118.39.36"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        224,
        0
      ],
      "id": "dbb62b99-d5e6-4c17-b8df-2fde48d92861",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "GH1d6WHhmaEKHsd8",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.abuseipdb.com/api/v2/check",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "ipAddress",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            },
            {
              "name": "maxAgeInDays",
              "value": "1"
            },
            {
              "name": "verbose"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Key",
              "value": "fdd7b4079e4a695e975ecf74979025ec5f78c25d0e0b72ffaf0d6e4cd779a5b0285aa702a5c2105a"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        320,
        208
      ],
      "id": "e30f6e91-6df5-4439-b69b-edc6462784a9",
      "name": "AbuseIPDB-Enrichment"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AbuseIPDB-Enrichment": {
      "ai_tool": [
        [
          {
            "node": "Message a model",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "218ffd1d-f6de-4142-8c9a-2b3ee5a75ecf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "974bfeb34e841cc050d06b1abf3d640cee205d1771301a9689c29826d1c57b72"
  },
  "id": "833wQbKZL-Ehe0zfFrZuG",
  "tags": []
}